.contacts {
    margin: 10px 0px;
}

.header {
    font-weight: bold;
}

.contacts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contacts a { 
    color: rgb(72, 78, 78);
}

.contacts a:hover {
    color: rgb(148, 158, 158);
}